<div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h6>Are you sure?</h6>
                <p>This action cannot be undone.</p>

                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button class="btn btn-danger" id="confirmDeleteBtn">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>